<header>
  <nav class="site-nav top">
       <!-- Logo Container -->
   <div class="avl-sandjito-logo">
      <a href="/">
        <img src="/assets/logo-group.svg" alt="Antioni van Leeuwenhoek Logo" />
      </a>
    </div> 

     <!-- Navigation Links -->
    <ul class="main-nav-links">
      <li>
        <a class="nav-link" href="#"
          ><img class="nav-icon" src="/assets/home_icon.svg" alt="Home" /><span
            class="nav-text"
            >Home</span
          ></a
        >
      </li>
      <li>
        <a class="nav-link" href="#"
          ><img
            class="nav-icon"
            src="/assets/webinar_icon.svg"
            alt="Webinars"
          /><span class="nav-text">Webinars</span></a
        >
      </li>
      <li>
        <a class="nav-link" href="#"
          ><img
            class="nav-icon"
            src="/assets/contouring_icon.svg"
            alt="Contourings"
          /><span class="nav-text">Contourings</span></a
        >
      </li>
      <li>
        <a class="nav-link" href="#"
          ><img
            class="nav-icon"
            src="/assets/profile_icon.svg"
            alt="Profile"
          /><span class="nav-text four">Profile</span></a
        >
      </li>
    </ul>
  </nav>
</header>
