<!-- Hero Section -->
<section class="site__hero">
  <figure class="site__hero-image">
    <!-- Background Image -->
    <img src="/assets/jacqueline-jacobs.webp" alt="A descriptive alt text">

    <!-- Overlay -->
    <div class="site__hero-overlay"></div>

    <!-- Hero Content -->
    <figcaption class="site__hero-content">
      <h1>Webinars</h1>
      <p>Explore a range of webinars covering key medical specialties, including oncology, gynaecology, urology, and more. Stay informed with expert insights on the latest research and clinical practices.</p>
    </figcaption>
  </figure>
</section>
