{% render "partials/head.liquid" %}
 
 <img class="logotje" src="/assets/avl_san_logo.svg" alt="" srcset="" />
    <div class="image-container">
      <img class="banner" src="/assets/banner-homepage-2022-3.webp" alt="Banner Image" />
      <div class="image-overlay"></div>
    </div>

    <div class="coming-soon-text">
      <h1>Oncollaboration Coming Soon!</h1>
      <p>
        A platform for radiologists from Indonesia and the Netherlands to share
        knowledge and collaborate.
      </p>
      <a href="/webinars" class="cta-button"
        ><strong>Click here to watch our webinars</strong></a>
    